

.indiv-patron-details {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #26da26;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border: red 2px solid;
}


.indiv-patron-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    
}

.indiv-patron-cards :hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


.indiv-patron-journey {
    padding: 10px;
    margin: 20px;
    border: 3px solid #ac4040;
    border-radius: 5px;

}

.journey-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    justify-content: center;
}



.journey-title-date {
    padding: 10px;
    

}


.indiv-patron-transaction {
    padding: 10px;
    margin: 20px;
    border: 3px solid #2a4daf;
    border-radius: 5px;
}


